/* Custom CSS */

.custom {
  width: 100%;
  display: table;
  text-align: center;
  border-spacing: 10px;
}

.custom span {
  display: table-cell;
  margin:auto;
}
.custom span.status {
  text-align: center;
  font-size : 8em
}

.custom span.confirm {
  text-align: center;
  font-size : 6em
}

.custom span.syncing {
  text-align: center;
  font-size : 4em
}

.toolbar .centerItem h1 {
  font-size : 2em
}

.toolbar .regularButton .active {
  background-color: #f00;
}

.custom span.syncstatus {
  text-align: center;
  font-size : 1em;
  padding-top : 20px ;
}
.custom span.syncmessage {
  text-align: center;
  font-size : 2em;
  padding-top : 50px ;
}
