<div class="pageTitle">
  <h1>CleanOrDirty</h1>
</div>

<!--
Initial functionality:
  * If there is a dishwasher, go to show page
  * Else go to Create new dishwasher page
  
Eventual functionality:
  * If there is only one dishwasher, go to it's show page
  * Else go to dishwasher index page
-->
<div class="content">
  <ul>
    <li>
      <a href="<%= url_for :controller => :Dishwasher, :action => :index %>">
        <span class="title">Dishwashers</span>
        <span class="disclosure_indicator"/>
      </a>
    </li>
  </ul>
</div>