<div class="pageTitle">
  <h1>CleanOrDirty</h1>
</div>

<!--
Initial functionality:
  * If there is a dishwasher, go to show page
  * Else go to Create new dishwasher page
  
Eventual functionality:
  * If there is only one dishwasher, go to it's show page
  * Else go to dishwasher index page
-->


<% if $has_dishwasher %>

  <%
    WebView.navigate url_for(
      :controller => :Dishwasher,
      :action => :show,
      :id => $dishwasher.object
    )
  %>

<% else %>

  <%
    WebView.navigate url_for(
      :controller => :Dishwasher,
      :action => :new
    )
  %>

<% end %>
v>