<div class="toolbar">
      <div class="centerItem"><h1>About</h1></div>
</div>

<div class="custom">
  <span class="aboutmessage">Created by PlusBzz (2011)</span>
</div>

<div class="custom">
  <span class="aboutmessage">Powered by Rhodes&copy and Sinatra&copy</span>
</div>