<!--<div class="pageTitle">
  <h1>Options</h1>
</div>
-->

<div class="toolbar">
      <div class="centerItem"><h1>Options</h1></div>
</div>

<div class="content">
  <ul>
    <% if Dishwasher.count > 0 %>
      <li><a href="<%= url_for :controller => :Dishwasher, :action => :edit_dishwasher %>">Edit Dishwasher</a></li>
      <li><a href="<%= url_for :action => :reset %>">Remove Dishwasher</a></li>
      <li>
         <div class="itemLabel">Code</div>
         <div class="itemValue">
          <%=  show_dishwasher_code %>
         </div>
      </li>
    <%end%>
  </ul>
</div>