<div class="pageTitle">
  <h1>Remove Dishwasher</h1>
</div>

<div class="custom">
  <span class="confirm">
    Sure?
  </span>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :do_remove_dishwasher %>">Remove</a>
  </div>
</div>

