<div class="toolbar">
      <div class="centerItem"><h1>Set up dishwasher</h1></div>
</div>

<div class="content">
  <ul>
    <li>
      <a href="<%= url_for :controller => :Dishwasher, :action => :new %>">
        New Dishwasher
      </a>
    </li>
    <li>
      <a href="<%= url_for :controller => :Dishwasher, :action => :existing %>">
        Existing Dishwasher
      </a>
    </li>
  </ul>
</div>