<div class="pageTitle">
  <h1><%= @dishwasher.code %></h1>
</div>

<!--
Requirement:
* Show two large buttons, clean and dirty
* Set default status to dirty if no status set
-->

<div class="content">
  <ul>
    <li>
      <div class="itemLabel"></div>
      <div class="itemValue"><%= @dishwasher.name %></div>
    </li>
  </ul>  
</div>


<div class="custom">
  <span class="status">
    <%= @dishwasher.status %>
  </span>
</div>

<div class="content">
    <div class="standardButton">
      <a href="<%=url_for :action => :change_status, :id => @dishwasher.object %>">Change</a>
    </div>
</div>
