<div class="pageTitle">
  <h1><%= @dishwasher.code %></h1>
</div>

<!--
Requirement:
* Show two large buttons, clean and dirty
* Set default status to dirty if no status set
-->

<div class="content">
  <ul>
    <li>
      <div class="itemLabel"></div>
      <div class="itemValue"><%= @dishwasher.name %></div>
    </li>
  </ul>  
</div>

<!--
  Need an animated transition here using jQTouch
  Or something clever with CSS and radio buttons
-->

<!-- dummy link for ajax calls -->
<!--<div id="#dummy"></div>


<div id="controls" class="custom">
  <% ['Clean','Dirty'].each do |cmd| %>
    <div class="controlpanelButton">
      <a href="#dummy"><%= cmd %></a>
    </div>
  <% end %>
</div>

<script src="/public/js/application.js" type="text/javascript"></script>-->

<div class="custom">
  <span class="status">
    <%= @dishwasher.status %>
  </span>
</div>
