<div class="pageTitle">
  <h1>Remove Dishwasher</h1>
</div>

<div class="custom">
  <span class="syncmessage">
    Syncing...
  </span>
</div>
<div class="custom">
  <span class="syncstatus">
    Hit the sync button below you're stuck here for too long...
  </span>
</div>


